rofi.eh: 1
!rofi.fullscreen: true
rofi.width: 1720
rofi.padding: 370
rofi.lines: 8
rofi.line-margin: 20
rofi.opacity: 95
rofi.bw: 0
rofi.font: System San Francisco Display 30
rofi.sidebar-mode: false
rofi.scrollbar-width: 0
rofi.separator-style: none
rofi.modi: drun,run,ssh,window
!rofi.fake-transparency:              true
!rofi.fake-background:                /home/damon/Pictures/font1.jpg

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
!                  bg       bder     spter
rofi.color-window: #273238, #273238, #1e2529
!                  bg       fg       bg alt   hlbg     hlfg
rofi.color-normal: #273238, 2c1c1c1, #273238, #273238, #9575cd
rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
!rofi.color-enabled: true
!rofi.color-window: #393939, #393939, #268bd2
!rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
!rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
!rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

Xft.dpi: 145
!Xft.dpi: 96
! Mouse cursor size
Xcursor.size: 48
